@use '@/styles/variables' as *;

.button {
  width: 100%;
  background-color: $color-button;
  color: $color-white;
  padding: 10px 14px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background-color: $color-button-hover;
    color: $color-white;
  }
}

.disabled {
  background-color: $color-button-disabled;
  color: $color-button-text;
  cursor: not-allowed;

  &:hover {
    background-color: $color-button-disabled;
    color: $color-button-text;
  }
}
.buttonLogin {
  // background-color: transparent;
  background-color: red;
  border: 1px solid $color-primary;
  cursor: pointer;
  color: $color-link;
  transition: color 0.3s ease;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    color: $color-link-hover;
    border-color: $color-link-hover;
  }
}
