@use '@/styles/variables' as *;

.button {
  background-color: transparent;
  border: 1px solid $color-primary;
  cursor: pointer;
  color: $color-link;
  transition: color 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  &:hover {
    color: $color-link-hover;
    border-color: $color-link-hover;
  }
}
