// VARS

// colors
$color-primary: #9f9f9f;
$color-secondary: #8b8b8b;
$color-background-primary: rgb(24, 23, 32);
$color-background-secondary: rgba(39, 34, 78, 0.7);
$color-border-bottom: #dee2e6;
$color-link: #ffffe0;
$color-link-hover: #8b8b8b;
$color-link-active: #d29b43;
$color-red: red;
$color-black: #000;
$color-white: #fff;
$color-button: #0070f3;
$color-button-hover: #005ad3;
$color-button-disabled: #9f9f9f;
$color-button-text: #666;
$color-placeholder: #333;
$color-input-text: $color-primary;
$color-error: #ff6464;
$color-success: #4caf50;

//============================= typography ============================//
$heading-font: 'Poppins', sans-serif;
$body-font: 'Inter', sans-serif;

//================================================================//
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

//======================= @mixin =========================================//
@mixin body-font($font-size) {
  font-size: $font-size;
  color: $color-primary;
  font-family: $body-font;
  line-height: 1.5;
  font-weight: 400;
}
