@use '@/styles/variables' as *;

.footer {
  margin-top: 3rem;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 2rem;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
  }

  .link {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
}
